<!DOCTYPE html>
<html>
  <head>
    <title>TG Cancer Pack Creator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/jquery.cropit.js"></script>

    <script type="text/javascript" src="/static/main.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
  </head>

  <body>
    <div class="image-editor">
        <input type="file" class="cropit-image-input">
        <input type="hidden" name="image-data" class="hidden-image-data" />
        <div class="cropit-preview"></div>
        <div class="image-size-label">Resize image</div>
        <input type="range" class="cropit-image-zoom-input">
        <button class="export">Ready</button>
    </div>
  </body>

</html>
