<!DOCTYPE html>
<html>
  <head>
    <title>TG Cancer Pack Creator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/progressbar.min.js"></script>
    <script type="text/javascript" src="/static/req.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="/static/req.css"/>
    
  </head>

  <body>
    <div class="cont">
        <div id="result">Загрузка...</div>
        <div id="container"></div>
    </div>
  </body>

</html>
